<nav class="navibar">
    <div class="max-width">
        <div class="logo" ><a href="https://fridgetotable.co/">fridgeto<span>table.</span></a></div>
        <ul class="menu">
            <li><a href="https://fridgetotable.co/inventory" class= "menu_btn" style= 'text-decoration: none; font-family:ubuntu;'>Inventory</a></li>
            <!-- <li><a href="#about" class= "menu_btn">About</a></li> -->
            <li><a href="https://fridgetotable.co/logout" class= "menu_btn" style= 'background-color: red; color: white; padding: 7px; border-radius: 5px; text-decoration: none; font-family:ubuntu, sans-serif;'>Logout</a></li>
        </ul>
    </div>
</nav>