<nav class="navibar">
    <div class="max-width">
        <div class="logo"><a href="#">fridgeto<span>table.</span></a></div>
        <ul class="menu">
            <li><a href="#home" class= "menu_btn">Inventory</a></li>
            <li><a href="#about" class= "menu_btn">About</a></li>
            <li><a href="#contact" class= "menu_btn">Contact</a></li>
        </ul>

        <div class="barsmenu" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
    </div>
</nav>