<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/recipe.css">

</head>
<body>
<%- include('navbar'); -%>


    


<section class="recipes" id="recipes">
    <div class="max-width">
        <h2 class="title" id= "recipestitle">Recipe Suggestions</h2>
        <!-- <h3 class="subtitle">who i am</h3> -->
        <div class="recipes-content">
            <%for (var i = 0; i < recipeOptions.length; i++) { %>
                <%- include('recipebox', {recipe_title: recipeOptions[i].recipe.label, image_url: recipeOptions[i].recipe.image, ingredient_count: recipeOptions[i].recipe.ingredients.length, serving_number: recipeOptions[i].recipe.yield, recipe_url: recipeOptions[i].recipe.url }); -%>

            <%}%>


        </div>
    </div>
</section>

<%- include('partials/footer'); -%>
